.home {
  padding: 56px 20px;
  min-height: 100%;
  width: 100%;
}
.inputronin {
  /* width: 33%; */
  width: 480px;
  max-width: 95%;
  padding: 5px;
  margin: 5px 0px 0px 0px;
}
.inputshare {
  /* width: 110px; */
  max-width: 27%;
  padding: 5px;
  margin: 5px 0px;
  margin-right: 10px;
}
.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: flex-start;
  padding: 5px;
}
.innercontainer {
  display: flex;
  flex-direction: row;
  width: 90%;
  justify-content: flex-start;
  align-items: flex-start;
}
.addbtn {
  /* width: 25%; */
  align-self: center;
  height: 100%;
  padding: 5px 20px;
  margin: 5px;
}
.empty {
  height: 21px;
}
.containerlist {
  margin-left: 4px;
  display: flex;
  flex-direction: column;
}
.itemcomponent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* align-content: flex-start; */
  padding: 5px;
  background-color: #afafaf;
  margin: 4px 0px;
  width: 480px;
  max-width: 95%;
}
.itemnamecomponent {
  display: flex;
  flex-direction: column;
  /* width: 50%; */
  padding: 0;
  margin: 0;
}
.itemtext {
  margin: 0;
  padding: 0;
}
.itemtextsmall {
  margin: 0;
  margin-top: 2pt;
  padding: 0;
  font-size: 9pt;
}
.itempvpcontainer {
  display: flex;
  flex-direction: row;
}

.itemslpstat {
  margin-left: 15px;
  display: flex;
  flex-direction: column;
}
.hseperate {
  width: 10px;
}
.buttonrefresh {
  padding: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: #f7f7f7;
  border-radius: 5pt;
}
.datecontainer{
  display: flex;
  flex-direction: row;
}

.itemright {
  cursor: pointer;
  position: relative;
  align-self: flex-start;
  justify-content: flex-end;
}

.textright{
  font-size: 6;
  margin: 0;
  padding: 0;
}

.editcontainer{
  padding:0;
  margin:0;
  display: flex;
  justify-content: space-between;
  align-content: center;
  flex-direction: column;
}